@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100&display=swap');


html,
body {
	background: black;
	padding: 0;
	margin: 0;
	width: 100vw;
	text-rendering: geometricprecision;
	font-size: 1em;
	height: auto;
	font-family: 'Figtree', sans-serif;
}

strong {
	font-weight: 800;
}

* {
	box-sizing: border-box;
}

p {
	margin-top: 1em;
	font-size: 1.4em;
	font-weight: 100;
}

h1 {
	font-size: 2.4em;
	font-weight: 700;
	margin-top: .2em;
	margin-bottom: 2em;
	font-weight: 100;
	color: #00e65b;
	text-transform: capitalize;
	text-align: start;
}

.content {
	background: black;
	padding: 0em;
	margin-top: 3em;
}

a {
	color: yellow;
	font-weight: 600;
}