@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100&display=swap');


html,
body {
	background: black;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-size: 1em;
	height: auto;
	font-family: 'Figtree', sans-serif;
}

* {
	box-sizing: border-box;
}

p {
	margin-top: 1em;
	font-size: 1.4em;
	font-weight: 200;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.content {
	background: black;
	padding: 2em;
	margin-top: 1.6em;
}